#div0 {
  background-color: #00bbeb;

  /* reg-color */
  background-color: #066bc6;
  background-color: #f2f4f9;
  background-color: #ff9d03; /* icons */
  background-color: #06c98c;
  background-color: #1d9ef9; /* button */
}
